---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
	Button,
	CustomerQuoteSection,
	YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';
import HeroSection from '../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'DonvitoCodes',
	description: 'DonvitoCodes',
};
---

<AnnouncementBar text="Get Live Notifications!" href="https://twitch.tv/donvitocodes" slot="announcement-bar"/>
<Layout seo={seo} >
	
	<TextAndImageHero>
		<div slot="text-container">		
			
			<h3>Let's learn AI!</h3>

			<p>Hello, I'm DonvitoCodes!</p>
				
			<p>I share my learning journey on AI and Software Development in my <a href="https://twitch.tv/donvitocodes" style ="font-weight: bold;" target="_blank" target="_blank">Twitch livestream</a>  and my <a href="https://youtube.com/donvitocodes" style ="font-weight: bold;" target="_blank" target="_blank">YouTube channel</a>. Sometimes, I host podcasts about relevant topics about technology and tech leaders in my livestream. I also write articles in my blog, <a href="https://techblogs.donvitocodes.com/" target="_blank"><strong>Exploring AI and Technology</strong></a>.
			</p>
			

			<div style="margin-bottom: 20px;">
				Feel free to connect with me in
				<a href="https://www.linkedin.com/in/melvinvivas/" style ="font-weight: bold;" target="_blank">LinkedIn</a>,
				<a href="https://twitter.com/donvito" style ="font-weight: bold;" target="_blank" target="_blank">Twitter</a>, or
				<a href="https://www.facebook.com/donvitocodes" style ="font-weight: bold;" target="_blank" target="_blank">Facebook</a>
				
			</div>
			
			<!-- <div style="margin-bottom: 20px;">
				<strong>You can also follow me in:</strong><br/>
				<a href="https://twitch.tv/donvitocodes" style="display: inline-block; margin-right: 10px; font-weight: bold;"  target="_blank">
					Twitch
				</a>
				<a href="https://youtube.com/donvitocodes" style="display: inline-block; margin-right: 10px; font-weight: bold;" target="_blank">
					YouTube
				</a> 
				<a href="https://techblogs.donvitocodes.com" style="display: inline-block; margin-right: 10px; font-weight: bold;" target="_blank">
					Medium
				</a>
				<a href="https://www.linkedin.com/in/melvinvivas/" style="display: inline-block; margin-right: 10px; font-weight: bold;" target="_blank">
					LinkedIn
				</a>
				<a href="https://twitter.com/donvito" style="display: inline-block; margin-right: 10px; font-weight: bold;" target="_blank">
					Twitter
				</a>
				<a href="https://www.facebook.com/donvitocodes" style="display: inline-block; margin-right: 10px; font-weight: bold;" target="_blank">
					Facebook
				</a>
				
			</div> -->

			<div>
				Want to discuss or share ideas? You can join our <a href="https://discord.gg/CnXuM2APee" target="_blank"><em>DonvitoCodes Discord Community</em></a>
			</div>
		</div>
				
		<picture slot="image-container">						
			<a href="https://youtube.com/donvitocodes" style="display: inline-block; margin-right: 10px;" target="_blank"><img
				src="/assets/images/donvitocodes/youtube-cover.png"
				alt="DonvitoCodes"
				id="home-hero-image"
			/></a>
		</picture>		
	
	</TextAndImageHero>

	<CustomerQuoteSection
	quoteText="Learn AI with me! I share my learnings on AI and Software Development in my Twitch and YouTube channels. Follow me and let's have fun learning together!"
	customerName="DonvitoCodes"
/>

	<!-- <ThreeColumnTextSection>
		<div slot="column-1-body">
			<h2>Why?</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
		</div>
		<Button slot="column-1-cta">Learn More</Button>
		<div slot="column-2-body">
			<h2>How?</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
		</div>
		<Button slot="column-2-cta" outlined>Learn More</Button>
		<div slot="column-3-body">
			<h2>What?</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
		</div>
		<Button slot="column-3-cta">Learn More</Button>
	</ThreeColumnTextSection> -->

	<!-- <YouTubeEmbedSection url="https://youtu.be/lcalIP2CRqU" rounded /> -->

  <StickyTextImageSection>
    <div slot="text-container">
      <h2>Featured Episodes</h2>

	  <h3>Ep 8. The Fun and Exciting Impact of Artificial Intelligence(AI)</h3>
      <p>
		In this episode, Aivan Monceller, our AI-enthusiast guest, 
		discussed how AI is revolutionizing productivity in technology and everyday life. 
		He also explained a brief history of AI Image Generation.
		Then, we did demos of cutting-edge technologies OpenAI, Stable Diffusion, and Midjourney.
		<YouTubeEmbedSection url="https://youtu.be/mPVToFWLxFY" rounded />
      </p>

	  <h3>Ep 1. How to Become a Software Developer</h3>
      <p>
		Our maiden episode. In this episode, I discussed with Aivan Monceller, Software Engineer @ Razer Singapore, about how anyone can start the career in software development.
		<YouTubeEmbedSection url="https://youtu.be/g_V9kKhhwgI" rounded />
      </p>

	  <h3>Ep 3. How to prepare for Big Tech Company Technical Interview</h3>
      <p>
		Spoke to our special guest, <strong>Marc Lester Tan</strong>, our special guest. He's a Filipino developer
		who is currently working as a Software Engineer @ Meta - Palo Alto, California, United States.	
		<YouTubeEmbedSection url="https://youtu.be/6vL9uxH6vZ4" rounded />
      </p>

	  <h3>Ep 6. Let's talk about Startups and Software Engineering with Keith Rull</h3>
      <p>
		Spoke to our special guest, <strong>Keith Oliver Rull</strong>, Engineering Leader / Startup Advisor 
		and VP of Engineering in EyeRate California, US		
		<YouTubeEmbedSection url="https://youtu.be/aLqmfJwOULI" rounded />
      </p>

	  <h3>Ep 2. Astro 1.0 Web Framework is out! Let's check it out!</h3>
      <p>
		We took a look at Astro.build, a modern web framework which was currently released. We also did a bit of live coding in this episode. 
		<p/>
		Check out Astro <a href="https://astro.build/">https://astro.build</a>
		<YouTubeEmbedSection url="https://youtu.be/YrqBk9B6tZI" rounded />
      </p>

	  <h3>Ep 5. Free online tech learning resources and tools</h3>
      <p>
		In this episode, I went through free learning resources and tools you can use to start software development.	
		<p/>
		Check out the list we came up in Github 
		<br/>
		<a href="https://github.com/donvito/awesome-tech-learning-resources">https://github.com/donvito/awesome-tech-learning-resources</a>
		<YouTubeEmbedSection url="https://youtu.be/lcalIP2CRqU" rounded />
      </p>


	  <Button href="/blog/posts/episodes-archive" customIcon>View all episodes<Fragment slot="icon">
		<Icon name="ic:baseline-chevron-right"/>
	  </Fragment></Button>

    </div>
     <picture slot="image-container">
		<h3>Latest Video</h3>
		<a href="https://youtu.be/9H1MgeMiS4k?si=hKNts7xDAuRjzmo6"><img
			src="/assets/images/donvitocodes/meta_thumbnail_youtube.png"
			alt="Our Next Event"
			loading="lazy"
		/>
		</a>
	  <p/>
    </picture>
	
  </StickyTextImageSection>

  <CtaCardSection background="var(--theme-surface-2)" color="var(--theme-on-surface-2)">
    <h2>Want to get notified about the next livestreams?</h2>
    <p></p>
    <Button href="https://www.twitch.tv/donvitocodes" customIcon>Get Live Notifications, Follow me!<Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right"/>
    </Fragment></Button>
  </CtaCardSection>

</Layout>

