---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'DonvitoCodes',
	description: 'DonvitoCodes',
};
---

<AnnouncementBar text="Register for our upcoming live!" href="#eventbrite link" slot="announcement-bar"/>
<Layout seo={seo} >
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Welcome to DonvitoCodes!</h1>
			<p>I'm DonvitoCodes, I livestreaming Tech & Startups. Welcome to my website where you can get updated with what is latest.</p>
		</div>
		<div slot="btns-container">
			<Button href="https://twitch.tv/donvitocodes" customIcon
				>Follow me in Twitch!<Fragment slot="icon">
          <Icon name="ic:baseline-chevron-right"/>
        </Fragment></Button
			>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/donvitocodes/donvitocodes_screenshot.webp"
				alt="Astro Odyssee"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	<CustomerQuoteSection
		quoteText="My dream is to help Filipinos get into Tech. Let's make the Philippines become a software development powerhouse globally."
		customerName="DonvitoCodes"
	/>

	<!-- <ThreeColumnTextSection>
		<div slot="column-1-body">
			<h2>Why?</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
		</div>
		<Button slot="column-1-cta">Learn More</Button>
		<div slot="column-2-body">
			<h2>How?</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
		</div>
		<Button slot="column-2-cta" outlined>Learn More</Button>
		<div slot="column-3-body">
			<h2>What?</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
		</div>
		<Button slot="column-3-cta">Learn More</Button>
	</ThreeColumnTextSection> -->

	<!-- <YouTubeEmbedSection url="https://youtu.be/lcalIP2CRqU" rounded /> -->

  <StickyTextImageSection>
    <div slot="text-container">
      <h2>Latest Episode</h2>

	  <h3>Ep 7. Hello Rust! First look at the Rust language!</h3>
      <p>
		Taking a first look at <a href="https://www.rust-lang.org">https://www.rust-lang.org</a>. 
		We did these in this video:
		<ul>
		<li>Did some Hello World </li>	
		<li>Functions and Variables</li>
		<li>Simple HTTP API in Rust</li>
		</ul>

		<YouTubeEmbedSection url="https://youtu.be/lcalIP2CRqU" rounded />
      </p>

	  <Button href="/blog/posts/episodes-archive" customIcon>View all episodes<Fragment slot="icon">
		<Icon name="ic:baseline-chevron-right"/>
	  </Fragment></Button>

	 

    </div>
     <picture slot="image-container">
		<a href="#eventbritelink"><img
			src="/assets/images/donvitocodes/keithposter.png"
			alt="Our Next Event"
			loading="lazy"
		/>
		</a>
	  <p/>
	  <Button href="#eventbritelink" customIcon>Register here! <Fragment slot="icon">
		<Icon name="ic:baseline-chevron-right"/>
	  </Fragment></Button>
    </picture>
  </StickyTextImageSection>

  <CtaCardSection background="var(--theme-surface-2)" color="var(--theme-on-surface-2)">
    <h2>Remote Work - Is it really the future? </h2>
    <p>We'll be talking about remote work, it's challenges and advantages. We'll speak to someone who is doing remote work for the past few years.</p>
    <Button href="#eventbritelink" customIcon>Register here!<Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right"/>
    </Fragment></Button>
  </CtaCardSection>

</Layout>

